/* General Styling*/
body {
  font-family: "Montserrat", sans-serif;
} 
a {
  color: #06c;
} 
img { 
  max-width: 100%;
}
.white {
  color: #fff;
}
.black {
  color: #1d1d1f;
}
.grey {
  color: #86868b;
}
.top-50 {
  margin-top: 50px;
}
.top-100 {
  margin-top: 100px;
}
/* Header Style */
.nav-wrapper {
  background: rgba(0, 0, 0, 0.8);
  font-size: 0.85em;
  font-weight: 200;
  top: 0;
  width: 100%;
}
.nav-wrapper ul li a {
  color: #fff;
}
.navbar-toggler {
  color: #fff;
}
.nav-item {
  text-align: left !important;
  padding: 4px 0;
  border-bottom: 1px solid #4b4b4b;
}

/* Footer Styling */
.footer-wrapper {
  background-color: #f5f5f7;
  color: #86868b;
  font-size: 0.7em;
}
.footer-wrapper ul {
  list-style: none;
  padding-bottom: 10px;
  padding-inline-start: 0px;
}
.footer-wrapper ul a {
  color: #515154;
}
.my-apple-wrapper {
  padding-bottom: 15px;
  margin-top: 10px;
}
.copyright {
  margin-top: 15px;
}
.footer-country {
  margin-top: 8px;
}
.flag-wrapper {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}
.footer-country-name {
  display: inline-block;
  vertical-align: middle;
}
.footer-links-terms ul {
  display: flex;
}
.footer-links-terms ul li {
  padding: 0 10px;
  border-right: 1px solid #d2d2d7;
}
.footer-links-terms ul li:first-child {
  padding-left: 0;
}
.footer-links-terms ul li:last-child {
  border-right: 0;
}

.footer-links-wrapper h3 {
  font-size: 12px;
  font-weight: 600;
  color: #1d1d1f;
}
.footer-wrapper ul li {
  padding: 4px 0;
}
.upper-text-container {
  border-bottom: 1px solid #d2d2d7;
  padding: 17px 0 10px;
  margin-bottom: 20px;
}
.upper-text-container a {
  color: #515154;
}
.collapsible {
cursor: pointer;
}
/*Media Query*/
/* Footer */
@media (max-width: 768px) {
  .footer-links-wrapper ul {
    display: none;
  }
  .footer-links-wrapper h3 {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }
  .footer-links-wrapper h3:after {
    font-family: "FontAwesome";
    content: "\f067";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  }
  /* .footer-links-wrapper h3:after:active{
    font-family: "FontAwesome";
    content: "\f00d";
    padding-left: 10px;
    position: absolute;
    right: 25px;
  } */
}
@media (min-width: 768px) {
  /*Nav bar*/
  .nav-item {
    text-align: center !important;
    padding: 0;
    border-bottom: 0px;
  }
  /*Footer styling*/
  .my-apple-wrapper {
    border-bottom: 1px solid #d2d2d7;
  }
}
@media (min-width: 992px) {
  /*Footer styling*/
  .copyright {
    margin-top: 10px;
  }
  .footer-country {
    margin-top: 10px;
  }
  .footer-links-terms {
    margin-top: 10px;
  }
}



.nav {
  z-index: 10;
}



/* Page style  */


.title {
  font-size: 30px;
}
.ipad {
  margin-top: 50px;
  background-image: url(../images/home/ipodPronew-sm.jpg);
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 20px;
  background-color: #FAFAFA;
}
.bottomtext {
  padding-top: 400px;
}
.ipad img {
  width: 100%;
}
.mac {
  background-color: #FAFAFA;
}
.iphone11 {
  background-image: url(../images/home/iphone11-pro-bg.jpg);
  height: 580px;
  background-position: center;
  color: white;
  padding-top: 20px;
}
.iphone11 img {
  width: 100%;
}
.container {
  width: 100%;
}
.colored-iphone {
  background-image: url(../images/home/iphone11-colored.jpg);
  background-position: center;
  max-width: 100%;
  background-repeat: no-repeat;
  height: 580px;
}
.cdc {
  background-image: url(../images/home/apple-blue-logo.jpg);
  background-repeat: no-repeat;
  
  height: 580px;
  color: white;
  background-position: bottom;
  background-color: #175CA9;
}
.cdc ul li a {
  color: white;
}
.cdc img {
  width: 100%;
}
.banker {
  background-image: url(../images/home/actors.jpg);
  height: 580px;
  color: white;
  background-size: contain;
}
.bankertitle img {
  padding-top: 350px;
}
.watchonapple::after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f144";
  padding-left: 10px;
}
.watch {
  background-color: #FAFAFA;
  height: 580px;
}
.Arcade {
  background-image: url(../images/home/spyder.jpg);
  height: 580px; 
  /* width: 720px; */
  background-repeat: no-repeat;
  /* background-size: contain; */
  color: white;
  
}
.Arcade {
  background-size: cover;
}
.applecard {
  background-image: url(../images/home/apple-card-monthly.jpg);
  height: 580px;
  /* width: 720px; */
  background-repeat: no-repeat;
  background-size: contain;
}
.applecard {
  background-size: cover;
}
.links ul li a::after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
    }

@media (min-width: 768px) {
  .new {
  color: red;
}
.ipad {
  background-image: url(../images/home/ipodPronew.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
}